.bgColorClass-1{
    background-color: #fca7f5;
}
.bgColorClass-2{
    background-color: #a7fcb9;
}
.bgColorClass-3{
    background-color: #f8eba0;
}

.colorClass-1{
    color: #701769;
}
.colorClass-2{
    color: #095e3a;
}
.colorClass-3{
    color: #ad4e00;
}

.fontSizeClass-1{
    font-size: 18px;
}
.fontSizeClass-2{
    font-size: 24px;
}
.fontSizeClass-3{
    font-size: 30px;
}

.fontWeightClass-1{
    font-weight:500;
}
.fontWeightClass-2{
    font-weight:600;
}
.fontWeightClass-3{
    font-weight:800;
}