<h2>App Components</h2>
<div class="wrapper">    
    <div class="wrapperItems">
        <app-ngclass-examp></app-ngclass-examp>
    </div>
    <div class="wrapperItems">
        <app-ng-style-examp></app-ng-style-examp>
    </div>
    <div class="wrapperItems">
        <app-ifexamp></app-ifexamp>
    </div>
    <div class="wrapperItems">
        <app-forexamp></app-forexamp>
    </div>
    <div class="wrapperItems">
        <app-switchexamp></app-switchexamp>
    </div>
    
    <div class="wrapperItems">
        <app-interpolation-examp></app-interpolation-examp>
    </div>
    <div class="wrapperItems">
        <app-property-examp></app-property-examp>
    </div>
    <div class="wrapperItems">
        <app-diff-property-interpo></app-diff-property-interpo>
    </div>
    <div class="wrapperItems">
        <app-style-binding></app-style-binding>
    </div>
    <div class="wrapperItems">
        <app-class-binding></app-class-binding>
    </div>
    <div class="wrapperItems">
        <app-event-binding></app-event-binding>
    </div>
    
</div>