.bgColorClass-1{
    background-color: #fca7f5;
}
.bgColorClass-2{
    background-color: #a7fcb9;
}
.bgColorClass-3{
    background-color: #f8eba0;
}
.fontWeightClass-2{
    font-weight:600;
}
.fontSizeClass-1{
    font-size: 18px;
}
hr{
    margin: 5px 0;
}