<h2>Piping in-build Example</h2>
<span [class]="'bgColorClass-3 fontWeightClass-2'">LowerCase | UpperCase | TitleCase | Trim | Slice | Json | DecimalPipe | PercentPipe | Currency | Date| Async| AsyncPipe </span>
<br/>
<hr/>
<h5>Lower Case Pipe Example</h5>
<h6>{{title | lowercase }}</h6>

<hr/>
<h5>Upper Case Pipe Example</h5>
<h6>{{title | uppercase }}</h6>

<hr/>
<h5>Title Case Pipe Example</h5>
<h6>{{title | titlecase }}</h6>

<hr/>
<h5>JSON Pipe Example</h5>
<ul>
    <li>{{student| json }}</li>
</ul>

<hr/>
<h5>Slice Pipe(slice:start:end) with (lorem ipsum dolor sit amet consectetur adipiscing elit) Example</h5>
<ul>
    <li>{{title| slice:2:14 }}</li>
</ul>

<hr/> 
<h5>Decimal default Pipe Example</h5>
{{num1 | number}}
<hr/>
<h5>Decimal Min.Min-Max (10.564258) Pipe Example</h5>
{{num1 | number:'3.2-4'}}
<hr/>
<h5>Decimal Min.Min-Max (543.2) Pipe Example</h5>
{{num1 | number:'3.2-4'}}

<hr/>
<h5>Percent Pipe Example</h5>
{{numberPer | percent}}

<hr/>
<h5>Percent Min.Min-Max (7.5) Pipe Example</h5>
{{numberPer | percent:'2.2-3'}}


<hr/>
<h5>Currency Default Pipe Example</h5>
{{numberPer | currency}}

<hr/>
<h5>Currency with Specific Country Symbol Pipe Example</h5>
{{numberPer | currency:'INR'}} | {{numberPer | currency:'AUD'}} | {{numberPer | currency:'GBP'}}

<hr/>
<h5>Currency Country Symbol with Decimal Min.Min-Max (7.5) Pipe Example</h5>
{{numberPer | currency:'INR':true:'2.3-5'}}  


<hr/>
<h5>Date default Pipe Example</h5>
{{today}} 

<hr/>
<h5>Date Pipe Example</h5>
{{today | date}} 

<hr/>
<h5>Date Pipe with Long Date Pipe Example</h5>
{{today | date:'longDate'}} 

<hr/>
<h5>Date Pipe with Short Date Pipe Example</h5>
{{today| date:'shortDate'}} 

<hr/>
<h5>Date Pipe with Full Date Pipe Example</h5>
{{today| date:'fullDate'}} 

<hr/>
<h5>Date Pipe with 'dd/yyyy/mm' Pipe Example</h5>
{{today| date:'dd/yyyy/mm'}} 

<hr/>
<h5>Date Pipe with 'DD/MM/YYYY' Pipe Example</h5>
{{today| date:'dd/mmm/yyyy'}} 

<hr/>
<h5>Date Pipe with 'MM-DD-YYYY' Pipe Example</h5>
{{today| date:'DD-MMM-YYYY'}} 

<hr/>
<h5>Custome Pipes Example</h5>
{{amount | customePipe }} 
